
<script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>

<!--link href="jquery-ui.css" rel="stylesheet"-->
<script src="/javascript/jquery.validate.js"> </script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://vsn4ik.github.io/bootstrap-submenu/dist/css/bootstrap-submenu.min.css">

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://vsn4ik.github.io/bootstrap-submenu/dist/js/bootstrap-submenu.min.js"></script>

<script src="/javascript/application.js"> </script>

<script>
  $(document).ready(function() {
    $('[data-submenu]').submenupicker();
  });
</script>

<style>
  .container-table {
    height: 70%;
  }
  .container-table {
    display: table;
  }
  .vertical-center-row {
    display: table-cell;
    vertical-align: middle;
  }
</style>

<body style="background-image: url(../alex/pics/bruh.jpg); background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">


<div class="container" id="button">
    <nav class="row">
      <div class="col-lg-7 col-sm-7">
       <div class="dropdown m-b">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
          My Projects <span class="glyphicon glyphicon-tasks"></span>
        </button>

        <ul class="dropdown-menu projectlist" id="new-project">
          <li class="dropdown-header">Project List</li>


            <% @user_projects.each do |x| %>
              <li class="dropdown-submenu"><a href=""> <%= x.name %> </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"> Members </li>
                  <div id="memb"></div>
                  <% x.memberships.each do |members| %>
                    <li><%= User.find(members.user_id.to_i).username %></li>
                  <% end %>
                  <li class="dropdown-divider">
                    <div class="divider"></div>
                  </li>
                  <li><a href="/pad/<%= x.id%>"><button class="btn btn-success"> Go to Project! </button></a></li>
                  <li class="dropdown-divider">
                    <div class="divider"></div>
                  </li>
                  <li class="dropdown-submenu"><a href=""> Add Member </a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"> Search for users </li>
                      <li class="dropdown-divider">
                        <div class="divider"></div>
                      </li>
                      <li><input type="text" name="name" id="search_user_<%=x.id%>" class="search_users"></li>
                      <li class="dropdown-divider">
                        <div class="divider"></div>
                      </li>
                      <div class="all_users"> </div>
                    </ul>
                  </li>
                </ul>
              </li> 
            <% end %>

            

          
            <li class="dropdown-divider">
              <div class="divider"></div>
            </li>

            <li class="dropdown-submenu"><a href="" style="text-decoration: none;"> Create New Project </a>
              <ul class="dropdown-menu">             
                <li class="dropdown-header"> New Project </li>
                <div id="create"></div>
                <li><input type="text" id="newProjName" name="title" placeholder="Insert Project Name" ></li> 
                <li><input type="text" id="NewProjDesc" name="description" placeholder="Description"></li>
                <li class="dropdown-divider">
                  <div class="divider"></div>
                </li>
                <button class="btn btn-success center-block"  id="create_proj">Create!</button>                
              </ul>
            </li>

          </ul>

        </div>
        

      </div>

      <div class="col-lg-5 col-sm-5">
        <ul class="nav nav-tabs" style="color:white; font-size: 20px;">  
          <li style="padding-left: 20px;"><a href="#"> About RubyPad </a></li>
          <li style="padding-left: 20px;"><a href="#"> Settings </a></li>
          <li style="padding-left: 20px;"><a href="/Webpages/Signin"> Logout </a></li>
        </ul>
      </div>
    </nav>

    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" style="color: white; font-size: 50px;">Hello, <%= @user.first_name %></div>
        <div class="text-center col-md-4 col-md-offset-4" style="background-color: black; color:white; font-size: 20px;"> What would you like to work on today? </div>
      </div>
    </div>
  </div>
  <script>
    $('#create_proj').click(function() {
      var res = $.get('/newproj', {user: <%=@user.id%>, name: $('#newProjName').val(), description: $('#NewProjDesc').val()}, function(response) {
      
        var project = JSON.parse(response)
 
        if (project.status == true) {
          var name = project.name
          // debugger
          $("#new-project").append("<li class='dropdown-submenu'>" +
            "<a href='' style='text-decoration: none;'>" +
            name  + 
            "</a>" + 
              "<ul class='dropdown-menu'>" + 
                "<li class='dropdown-header'> Members </li>" +
                "<li class='dropdown-divider'><div class='divider'></div></li>"+
                "<li><a href=''><button class='btn btn-success'> Go to Project! </button></a></li>" + 
                "<li class='dropdown-divider'><div class='divider'></div></li>"+
                "<li class='dropdown-submenu'><a href=''> Add Member </a>"+
                  "<ul class='dropdown-menu'>"+
                    "<li class='dropdown-header'> Search for users </li>"+
                    "<li class='dropdown-divider'><div class='divider'></div></li>" + 
                    "<li><input type='text' name='name' id='search_users'></li>" +
                  "</ul>" +
                "</li>" +
              "</ul>" +
            "</li>");
        }
        else {
          console.log(response);
          $("#create").text(response);
        }
      });
    });

  
    $('.search_users').keyup(function(){

        var obj = this;
        var value = "#" + obj.id;
        var search_prompt = $(value).val();
        var result = $.get('/list_users', {filter: "by_name", name: search_prompt},  function(response) {
       

          var json = JSON.parse(response);
          var length = json.length;
          var arr_of_users = [];
          var html = "";
          // debugger;
          for(var k=0; k< length; k++){
            var uid = "data-user_id='" + (json[k].id).toString() + "' ";
            var pid = "data-project_id='" + ((obj.id).toString()).split("search_user_")[1] + "' ";
            
            html += "<li id='add_me' "+uid+pid+">" + json[k].name + "<button class='btn btn-success' style='right: 0px;'> Add </button></li>"
          }
          // debugger;
          $('.all_users').html(html);
        });  
    });

    $('#button').on('click', '#add_me', function(){
      
      var proj_id = $("#add_me").data("project_id");
      var user_to_add = $("#add_me").data("user_id");
      
      var res = $.get('/list_users', {filter: "by_project", project_id: proj_id.toString(), user_name: user_to_add}, function(response) {
        var name = JSON.parse(response);
        debugger;
        $('#memb').html("<li>" + name + "</li>");

      });
    });

  

    // $(function() {
    //   $.get('/list_projects', function(response) {
    //     var json = JSON.parse(response);
    //     var length = json.length;
    //     for (var i=0; i < length; i++){
    //       $(".projectlist").append("<li class='dropdown-submenu'>" + 
    //         "<a href='' style='text-decoration: none;'>" +
    //         json[i]  + 
    //         "</a>" + 
    //           "<ul class='dropdown-menu'>" + 
    //             "<li class='dropdown-header'> Members </li>" +
    //             "<li class='dropdown-divider'><div class='divider'></div></li>"+
    //             "<li><a href=''><button class='btn btn-success'> Go to Project! </button></a></li>" + 
    //             "<li class='dropdown-divider'><div class='divider'></div></li>"+
    //             "<li class='dropdown-submenu'><a href=''> Add Member </a>"+
    //               "<ul class='dropdown-menu'>"+
    //                 "<li class='dropdown-header'> Search for users </li>"+
    //                 "<li class='dropdown-divider'><div class='divider'></div></li>" + 

    //               "</ul>" +
    //             "</li>" +
    //           "</ul>" +
    //         "</li>");
    //     }
    //   });
    // });
    </script>

</body>







